@page "/items"
@inject IItemRepository itemRepository
@inject NavigationManager NavigationManager
<h3>Items</h3>

<div class="container">
    <div class="row">
        <div class="col-4">
            <NavLink href="/item/add" Match="NavLinkMatch.All">
                Create Item
            </NavLink>
        </div>
    </div>
</div>

<div class="container">
    @if (loading)
    {
        <p><em>Loading...</em></p>
    }
    else if (!items.Any())
    {
        <p>No items found.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Created At</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                        <td>@item.CreatedAd</td>
                        <td>
                            <NavLink href="@($"item/edit/{item.Id}")">
                                Edit
                            </NavLink>
                        </td>
                        <td>
                            <button @onclick="@(async () => await DeleteItem(item.Id))" class="btn btn-danger">Delete</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>



@code {
    private IEnumerable<ItemInfoViewModel> items = new List<ItemInfoViewModel>();
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        items = await itemRepository.GetAllÀctiveItemsAsync();
        loading = false;
    }

    private async Task DeleteItem(int id)
    {
        var result = await itemRepository.DeleteItemAsync(id);

        NavigationManager.NavigateTo(NavigationManager.Uri, true);

    }
}
